<div class="main-content">
  <!-- Przykładowa treść, aby przetestować przewijanie -->
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
    Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at
    nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
    tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
    nulla. Nullam varius. Nulla facilisi. Duis aliquet egestas purus in blandit.
    Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare
    ante, ac egestas est urna sit amet arcu.
  </p>

  <p>
    Suspendisse potenti. Fusce risus nisl, viverra et, tempor et, pretium in,
    sapien. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque
    malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat
    quis, neque. Nulla facilisi. Nulla mauris augue, auctor nec, euismod sit
    amet, gravida non, neque. Suspendisse sollicitudin velit sed leo. Ut
    pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac,
    viverra sed, nulla.
  </p>
  <p>
    Suspendisse potenti. Fusce risus nisl, viverra et, tempor et, pretium in,
    sapien. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque
    malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat
    quis, neque. Nulla facilisi. Nulla mauris augue, auctor nec, euismod sit
    amet, gravida non, neque. Suspendisse sollicitudin velit sed leo. Ut
    pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac,
    viverra sed, nulla.
  </p>
  <p>
    Suspendisse potenti. Fusce risus nisl, viverra et, tempor et, pretium in,
    sapien. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque
    malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat
    quis, neque. Nulla facilisi. Nulla mauris augue, auctor nec, euismod sit
    amet, gravida non, neque. Suspendisse sollicitudin velit sed leo. Ut
    pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac,
    viverra sed, nulla.
  </p>
  <p>
    Suspendisse potenti. Fusce risus nisl, viverra et, tempor et, pretium in,
    sapien. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque
    malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat
    quis, neque. Nulla facilisi. Nulla mauris augue, auctor nec, euismod sit
    amet, gravida non, neque. Suspendisse sollicitudin velit sed leo. Ut
    pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac,
    viverra sed, nulla.
  </p>

  <p>
    Phasellus volutpat nulla ac nulla. Nulla massa diam, malesuada et, suscipit
    ac, feugiat a, tellus. Integer id neque. Proin sapien ipsum, porta a, auctor
    quis, euismod ut, mi. Morbi scelerisque, lectus ac fringilla tincidunt,
    nulla nunc ullamcorper, quis rutrum neque libero euismod. Nulla ac erat. In
    hac habitasse platea dictumst. Proin ac neque. Nunc sagittis dictum nisi.
    Sed id nulla. Integer tincidunt. Cras dapibus. Vivamus elementum semper
    nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim.
  </p>

  <p>
    Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
    Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
    mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum
    lacinia arcu eget nulla. Nullam varius. Nulla facilisi. Duis aliquet egestas
    purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor,
    lacus lacus ornare ante, ac egestas est urna sit amet arcu.
  </p>

  <p>
    Suspendisse potenti. Fusce risus nisl, viverra et, tempor et, pretium in,
    sapien. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque
    malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat
    quis, neque. Nulla facilisi. Nulla mauris augue, auctor nec, euismod sit
    amet, gravida non, neque. Suspendisse sollicitudin velit sed leo. Ut
    pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac,
    viverra sed, nulla.
  </p>

  <p>
    Phasellus volutpat nulla ac nulla. Nulla massa diam, malesuada et, suscipit
    ac, feugiat a, tellus. Integer id neque. Proin sapien ipsum, porta a, auctor
    quis, euismod ut, mi. Morbi scelerisque, lectus ac fringilla tincidunt,
    nulla nunc ullamcorper, quis rutrum neque libero euismod. Nulla ac erat. In
    hac habitasse platea dictumst. Proin ac neque. Nunc sagittis dictum nisi.
    Sed id nulla. Integer tincidunt. Cras dapibus. Vivamus elementum semper
    nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim.
  </p>
  <p>
    Phasellus volutpat nulla ac nulla. Nulla massa diam, malesuada et, suscipit
    ac, feugiat a, tellus. Integer id neque. Proin sapien ipsum, porta a, auctor
    quis, euismod ut, mi. Morbi scelerisque, lectus ac fringilla tincidunt,
    nulla nunc ullamcorper, quis rutrum neque libero euismod. Nulla ac erat. In
    hac habitasse platea dictumst. Proin ac neque. Nunc sagittis dictum nisi.
    Sed id nulla. Integer tincidunt. Cras dapibus. Vivamus elementum semper
    nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim.
  </p>
  <p>
    Phasellus volutpat nulla ac nulla. Nulla massa diam, malesuada et, suscipit
    ac, feugiat a, tellus. Integer id neque. Proin sapien ipsum, porta a, auctor
    quis, euismod ut, mi. Morbi scelerisque, lectus ac fringilla tincidunt,
    nulla nunc ullamcorper, quis rutrum neque libero euismod. Nulla ac erat. In
    hac habitasse platea dictumst. Proin ac neque. Nunc sagittis dictum nisi.
    Sed id nulla. Integer tincidunt. Cras dapibus. Vivamus elementum semper
    nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim.
  </p>
  <p>
    Phasellus volutpat nulla ac nulla. Nulla massa diam, malesuada et, suscipit
    ac, feugiat a, tellus. Integer id neque. Proin sapien ipsum, porta a, auctor
    quis, euismod ut, mi. Morbi scelerisque, lectus ac fringilla tincidunt,
    nulla nunc ullamcorper, quis rutrum neque libero euismod. Nulla ac erat. In
    hac habitasse platea dictumst. Proin ac neque. Nunc sagittis dictum nisi.
    Sed id nulla. Integer tincidunt. Cras dapibus. Vivamus elementum semper
    nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim.
  </p>
  <p>
    Phasellus volutpat nulla ac nulla. Nulla massa diam, malesuada et, suscipit
    ac, feugiat a, tellus. Integer id neque. Proin sapien ipsum, porta a, auctor
    quis, euismod ut, mi. Morbi scelerisque, lectus ac fringilla tincidunt,
    nulla nunc ullamcorper, quis rutrum neque libero euismod. Nulla ac erat. In
    hac habitasse platea dictumst. Proin ac neque. Nunc sagittis dictum nisi.
    Sed id nulla. Integer tincidunt. Cras dapibus. Vivamus elementum semper
    nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim.
  </p>
  <!-- Dodaj więcej treści w razie potrzeby -->
</div>
