<div *ngFor="let event of timeline" class="timeline-event">
  <div class="event-header">
    <div class="event-header-left">
      <img [src]="event.friendImage" alt="Friend Image" class="friend-avatar" />
      <div class="event-details">
        <h3>{{ event.friendName }}</h3>
        <p><strong>Książka:</strong> {{ event.bookName }}</p>
        <p><strong>Ocena:</strong> {{ event.ratingValue }}/10</p>
        <p><strong>Data oceny:</strong> {{ event.ratingDate }}</p>
      </div>
    </div>
    <div *ngIf="event.bookCover" class="book-cover-container">
      <img [src]="event.bookCover" alt="Book Cover" class="book-cover" />
    </div>
  </div>
  <div class="event-line"></div>
</div>
