<div class="user-lists">
  <h2>Twoje listy</h2>

  <form [formGroup]="newListForm" (ngSubmit)="createList()">
    <mat-form-field appearance="outline" class="add-list-form-field">
      <mat-label>Nazwa listy</mat-label>
      <input
        matInput
        formControlName="nazwaListy"
        placeholder="Wprowadź nazwę"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Dodaj listę</button>
  </form>

  <!-- Lista użytkownika -->
  <div class="lists-container">
    <div
      *ngFor="let list of lists"
      class="list-item"
      (click)="viewListDetails(list)"
    >
      <div class="list-content">
        <span>{{ list.nazwaListy }}</span>
      </div>
      <div class="list-actions">
        <button
          mat-icon-button
          color="warn"
          aria-label="Usuń listę"
          (click)="deleteList(list.idListy); $event.stopPropagation()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
