<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Logowanie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()">
        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              id="email"
              [(ngModel)]="email"
              name="email"
              #emailInput="ngModel"
              required
              placeholder="Wprowadź email"
            />
            <mat-error *ngIf="emailInput.invalid && emailInput.touched">
              Proszę wprowadzić poprawny email.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Hasło</mat-label>
            <input
              matInput
              type="password"
              id="password"
              [(ngModel)]="password"
              name="password"
              #passwordInput="ngModel"
              required
              placeholder="Wprowadź hasło"
            />
            <mat-error *ngIf="passwordInput.invalid && passwordInput.touched">
              Hasło jest wymagane.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="login-actions">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!email || !password"
          >
            Zaloguj
          </button>
        </div>

        <div *ngIf="errorMessage" class="error-message">
          <mat-icon>error</mat-icon> {{ errorMessage }}
        </div>
      </form>

      <div class="register-link">
        <a routerLink="/register">Nie masz konta? Zarejestruj się!</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
