<mat-toolbar color="primary" class="navbar">
  <div class="logo">
    <span class="title" routerLink="/home">
      Good<span class="highlight">Review</span>
    </span>
  </div>

  <nav *ngIf="authService.isLoggedIn()" class="nav-links">
    <a mat-button routerLink="/home">Strona główna</a>
    <a mat-button [routerLink]="['/books', userId]">Moje książki</a>
    <button mat-button [matMenuTriggerFor]="browseMenu">Przeglądaj</button>
    <mat-menu #browseMenu="matMenu">
      <button mat-menu-item routerLink="/books">Książki</button>
      <button mat-menu-item routerLink="/browse/authors">Autorzy</button>
      <button mat-menu-item routerLink="/browse/genres">Genres</button>
    </mat-menu>
  </nav>

  <div class="search-bar">
    <input
      *ngIf="authService.isLoggedIn()"
      matInput
      #searchInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
      placeholder="Szukaj książek"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onOptionSelected($event)"
    >
      <mat-option *ngFor="let book of filteredBooks | async" [value]="book">
        {{ book.tytul }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <div *ngIf="authService.isLoggedIn()" class="navbar-icons">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="friendsMenu">
      <mat-icon>people</mat-icon>
    </button>
    <mat-menu #friendsMenu="matMenu">
      <button mat-menu-item routerLink="/accept-friend-requests">
        Akceptuj zaproszenia
      </button>
      <button mat-menu-item routerLink="/friends">Znajomi</button>
      <button mat-menu-item routerLink="/users">Wszyscy użytkownicy</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/recommend">Odkryj książkę</button>
      <button mat-menu-item [routerLink]="['/loggenUserProfile', userId]">
        Mój profil
      </button>
      <button mat-menu-item routerLink="/lists">Moje listy</button>
      <button mat-menu-item (click)="logout()">Wyloguj</button>
    </mat-menu>

    <button routerLink="/books" mat-icon-button>
      <mat-icon>library_books</mat-icon>
    </button>

    <button mat-icon-button routerLink="/admin" aria-label="Admin Panel">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>
  </div>

  <button mat-icon-button class="mobile-menu-icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<div class="mobile-menu-container" [ngClass]="{ open: isMenuOpen }">
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/mybooks">My Books</a>
  <a mat-button routerLink="/books">Books</a>
  <a mat-button routerLink="/browse/authors">Authors</a>
  <a mat-button routerLink="/browse/genres">Genres</a>
  <a mat-button routerLink="/lists">My Lists</a>
</div>
