.container {
  display: flex;
  height: calc(
    100vh - 60px
  ); /* Odejmujemy wysokość nagłówka (lub innej stałej sekcji) */
  width: 100%; /* Pełna szerokość */
  overflow: hidden;
  background-color: #f5f5f5;
}

.left-panel {
  width: 20%;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  padding: 16px;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5); /* Wyraźniejszy cień dla testu */
  z-index: 10; /* Wyższy indeks */
  position: relative; /* Ustawienie pozycji dla z-index */
}

.right-panel {
  width: 20%;
  background-color: #ffffff;
  border-left: 1px solid #ddd;
  padding: 16px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Cień na lewą stronę */
}

.main-content {
  flex: 1;
  padding: 16px;
  background-color: #fafafa;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Układ pionowy */
  }

  .left-panel,
  .right-panel {
    width: 100%; /* Pełna szerokość */
    border: none; /* Usuwamy linie oddzielające */
  }

  .main-content {
    order: 1; /* Główna treść na górze */
  }
}
