<!-- Dodatkowe informacje -->
<div *ngIf="user" class="user-profile">
  <!-- Informacje o użytkowniku -->
  <div class="profile-header">
    <div class="profile-image">
      <img
        [src]="user.zdjecie || 'assets/placeholder.jpg'"
        alt="Zdjęcie profilowe"
      />
    </div>
    <div class="profile-info">
      <h1>{{ user.imie }} {{ user.nazwisko }}</h1>
      <p class="email">{{ user.eMail }}</p>
      <p class="bio">{{ user.opis || "Użytkownik nie dodał opisu." }}</p>
    </div>
  </div>

  <!-- Przycisk edycji profilu -->
  <button class="edit-profile-button" (click)="toggleEditProfile()">
    Edytuj profil
  </button>

  <!-- Sekcja edycji profilu -->
  <div *ngIf="isEditing" class="edit-profile-modal">
    <div class="edit-profile-content">
      <h2>Edytuj Profil</h2>
      <div class="form-group">
        <label for="profilePicture">Zmiana zdjęcia profilowego</label>
        <input
          type="file"
          id="profilePicture"
          (change)="onImageChange($event)"
          accept="image/*"
        />
        <img
          *ngIf="updatedProfile.zdjecie"
          [src]="updatedProfile.zdjecie"
          alt="Nowe zdjęcie profilowe"
          class="preview-image"
        />
      </div>

      <div class="form-group">
        <label for="bio">Opis</label>
        <textarea
          id="bio"
          [(ngModel)]="updatedProfile.opis"
          rows="4"
          placeholder="Opisz siebie..."
        ></textarea>
      </div>

      <button (click)="updateProfile()" class="update-button">
        Zaktualizuj Profil
      </button>
      <button (click)="toggleEditProfile()" class="close-button">
        Zamknij
      </button>
    </div>
  </div>

  <!-- Statystyki użytkownika -->
  <div class="profile-stats">
    <div class="stat-item">
      <h3>{{ user.iloscOcenionychKsiazek || 0 }}</h3>
      <p>Ocenionych książek</p>
    </div>
    <div class="stat-item">
      <h3>{{ user.iloscRecenzji || 0 }}</h3>
      <p>Napisanych recenzji</p>
    </div>
    <div class="stat-item">
      <h3>{{ user.iloscZnajomych || 0 }}</h3>
      <p>Znajomi</p>
    </div>
  </div>

  <div class="additional-info">
    <div>
      <h2>Data rejestracji</h2>
      <p>{{ user.dataRejestracji | date : "dd MMMM yyyy" }}</p>
    </div>

    <div>
      <h2>Data urodzenia</h2>
      <p>{{ user.dataUrodzenia | date : "dd MMMM yyyy" }}</p>
    </div>
  </div>

  <div *ngIf="lists.length" class="user-lists">
    <h2>Listy użytkownika</h2>
    <div class="list-container">
      <div *ngFor="let list of lists" class="list-item">
        <a [routerLink]="['/list', list.idListy]">
          <h3>{{ list.nazwaListy }}</h3>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="!lists.length" class="no-lists">
    <p>Użytkownik nie posiada żadnych list.</p>
  </div>
</div>
