<div class="books-list">
  <div
    *ngFor="let book of books$ | async"
    class="book-card"
    [routerLink]="['/bookDetails', book.idKsiazka]"
  >
    <div class="card-image">
      <img
        *ngIf="book.okladka"
        [src]="book.okladka"
        alt="{{ book.tytul }} cover"
      />
    </div>
    <div class="card-title-overlay">
      {{ book.tytul }}
    </div>
    <div class="rating" *ngIf="book.ocenaWartosc > 1">
      <span class="rating-value" [ngClass]="getRatingClass(book.ocenaWartosc)">
        {{ book.ocenaWartosc }}
      </span>
    </div>
  </div>
</div>
