<div class="books-list">
  <mat-icon>grid_on</mat-icon>

  <div
    *ngFor="let book of books$ | async"
    class="book-card"
    [routerLink]="['/booksDetails', book.idKsiazka]"
  >
    <div class="card-image">
      <img
        *ngIf="book.okladka"
        [src]="book.okladka"
        alt="{{ book.tytul }} cover"
      />
    </div>
    <div class="card-title-overlay">
      {{ book.tytul }}
    </div>
    <div class="rating">
      <span class="rating-value">{{ book.ocenaWartosc }}</span>
    </div>
  </div>
</div>
