<div class="users-list">
  <div
    class="user-profile"
    *ngFor="let friend of friends$ | async"
    [routerLink]="['/profile', friend.friendId]"
  >
    <section class="profile-header">
      <div class="profile-avatar">
        <img
          *ngIf="friend.friendDetails.zdjecie"
          [src]="friend.friendDetails.zdjecie"
          alt="Friend Avatar"
        />
      </div>
      <div class="profile-info">
        <h2>
          {{ friend.friendDetails.imie }} {{ friend.friendDetails.nazwisko }}
        </h2>
      </div>
    </section>
    <section class="profile-stats">
      <div class="stats-item">
        <h3>{{ friend.friendDetails.iloscOcen || 0 }}</h3>
        <p>Przeczytane książki</p>
      </div>
      <div class="stats-item">
        <h3>{{ friend.friendDetails.iloscRecenzji || 0 }}</h3>
        <p>Recenzje</p>
      </div>
    </section>
    <div class="stats-item">
      <h3>
        {{ friend.friendDetails.ostaniaAktywnosc | date : "dd MMMM yyyy" }}
      </h3>
      <p>Ostatnia aktywność</p>
    </div>
  </div>
</div>
