<div class="left-panel">
  <h3>Aktualności</h3>
  <ul>
    <li>Aktualność 1</li>
    <li>Aktualność 2</li>
    <li>Aktualność 3</li>
    <p>
      Suspendisse potenti. Fusce risus nisl, viverra et, tempor et, pretium in,
      sapien. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque
      malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget,
      consequat quis, neque. Nulla facilisi. Nulla mauris augue, auctor nec,
      euismod sit amet, gravida non, neque. Suspendisse sollicitudin velit sed
      leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet,
      tincidunt ac, viverra sed, nulla.
    </p>
    <p>
      Suspendisse potenti. Fusce risus nisl, viverra et, tempor et, pretium in,
      sapien. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque
      malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget,
      consequat quis, neque. Nulla facilisi. Nulla mauris augue, auctor nec,
      euismod sit amet, gravida non, neque. Suspendisse sollicitudin velit sed
      leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet,
      tincidunt ac, viverra sed, nulla.
    </p>
  </ul>
</div>
