<div *ngIf="isLoading" class="loading">Ładowanie...</div>
<div *ngIf="!isLoading && errorMessage" class="error">
  {{ errorMessage }}
</div>

<div *ngIf="!isLoading && bookDetails" class="book-details-container">
  <div class="book-header">
    <img [src]="bookDetails.cover" alt="Cover Image" class="book-cover" />
    <div class="book-info">
      <h1 class="book-title">{{ bookDetails.title }}</h1>
      <p
        class="book-author"
        *ngIf="bookDetails.authors && bookDetails.authors.length > 0"
      >
        <strong>Autor:</strong>
        <span>
          <span *ngFor="let author of bookDetails.authors; let i = index">
            <a [routerLink]="['/authorProfile', author.id]">
              {{ author.firstName }} {{ author.lastName }}
            </a>
            <span *ngIf="i < bookDetails.authors.length - 1">, </span>
          </span>
        </span>
      </p>

      <p class="book-year">
        <strong>Rok wydania:</strong> {{ bookDetails.releaseYear }}
      </p>
      <p class="book-isbn"><strong>ISBN:</strong> {{ bookDetails.isbn }}</p>
      <p class="book-pages">
        <strong>Ilość stron:</strong> {{ bookDetails.pages }}
      </p>
      <p class="book-publisher" *ngIf="bookDetails.publisher">
        <strong>Wydawca:</strong>
        <span>
          <a [routerLink]="['/publisherPage', bookDetails.publisher.id]">
            {{ bookDetails.publisher.name || "Unknown" }}
          </a>
        </span>
      </p>
    </div>
  </div>

  <div class="book-description">
    <h2>Opis:</h2>
    <p>{{ bookDetails.description }}</p>
  </div>

  <div class="book-genres">
    <strong>Gatunki:</strong>
    <mat-chip-listbox>
      <mat-chip *ngFor="let genre of bookDetails.genres" class="genre-chip">
        {{ genre.name }}
      </mat-chip>
    </mat-chip-listbox>
  </div>

  <div class="book-tags">
    <h3>Tagi:</h3>
    <mat-chip-listbox>
      <mat-chip *ngFor="let tag of bookDetails.tags" class="tag-chip">
        {{ tag.name }}
      </mat-chip>
    </mat-chip-listbox>
  </div>

  <div class="book-rating">
    <strong>Średnia ocena użytkowników:</strong>
    {{ bookDetails.averageRating }}/10
    <br />
    <strong>Ilość wszystkich ocen książki:</strong>
    {{ bookDetails.totalRatings }}
  </div>

  <div class="book-rating">
    <h3>Twoja ocena:</h3>
    <div class="star-rating">
      <mat-icon
        *ngFor="let star of stars; let i = index"
        [ngClass]="{ selected: i < userRating }"
        (click)="setRating(i + 1); submitRating()"
        >star</mat-icon
      >
    </div>
    <div class="back-button">
      <button class="btn" (click)="goBack()">Go Back</button>
    </div>
  </div>

  <div class="add-review">
    <h3>Napisz recenzje:</h3>
    <form (ngSubmit)="submitReview()" #reviewForm="ngForm">
      <textarea
        name="reviewText"
        [(ngModel)]="newReviewText"
        required
        rows="5"
        placeholder="Write your review here..."
        class="form-control"
      ></textarea>
      <button
        type="submit"
        [disabled]="reviewForm.invalid"
        class="btn btn-success"
      >
        Wyślij recenzje
      </button>
    </form>
  </div>

  <div class="book-reviews">
    <h2>Lista recenzji:</h2>
    <div *ngIf="isReviewsLoading">Loading reviews...</div>
    <div *ngIf="!isReviewsLoading && reviews.length === 0">
      Recenzji nie znaleziono
    </div>
    <div *ngIf="!isReviewsLoading && reviews.length > 0">
      <div
        *ngFor="let review of reviews"
        class="review"
        [ngClass]="{ 'user-review': review.isUserReview }"
      >
        <div class="review-user">
          <img
            [src]="review.uzytkownikZdjecie || 'default-user.png'"
            alt="User Image"
            class="user-photo"
          />
          <strong>
            {{ review.uzytkownikImie }} {{ review.uzytkownikNazwisko }}
          </strong>
          <span *ngIf="review.isUserReview" class="highlight"
            >(Twoja opinia)</span
          >
        </div>

        <p>{{ review.trescRecenzji }}</p>
        <p>
          <em>Data: {{ review.dataRecenzji }}</em>
        </p>
      </div>
    </div>
  </div>
</div>
