/* Kontener dla szczegółów książki */
.book-details-container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background: #222; /* Ciemniejszy odcień dla tła tytułu książki */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Ciemniejszy cień */
  color: #ffffff; /* Jasny tekst */
}

/* Nagłówek z okładką książki */
.book-header {
  display: flex;
  margin-bottom: 30px;
}

.book-cover {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.book-info {
  max-width: 500px;
}

.book-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #ffffff; /* Jasny tekst */
}

.book-author,
.book-year,
.book-isbn,
.book-pages {
  font-size: 1rem;
  margin-top: 10px;
  color: #cccccc; /* Jaśniejszy tekst */
}

/* Opis książki */
.book-description {
  margin-bottom: 30px;
}

.book-description h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff; /* Jasny tekst */
}

.book-description p {
  font-size: 1rem;
  line-height: 1.5;
  color: #cccccc; /* Jaśniejszy tekst */
}

/* Sekcja tagów (chipów) */
.book-tags {
  margin-bottom: 30px;
}

.book-tags h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff; /* Jasny tekst */
}

mat-chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

mat-chip {
  background-color: #444444; /* Ciemniejsze tło dla chipów */
  color: #ffffff; /* Jasny tekst w chipach */
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

mat-chip:hover {
  background-color: #0066cc; /* Niebieski hover */
  color: white;
}

mat-chip.disabled {
  background-color: #666666; /* Ciemniejszy szary dla nieaktywnych tagów */
  color: #aaa;
  cursor: not-allowed;
}

/* Przycisk powrotu */
.back-button {
  display: flex;
  justify-content: center;
  margin: 20px 0; /* Odstęp od innych elementów */
}

.back-button .btn {
  background-color: #2a2a2a; /* Dopasowany ciemny kolor */
  color: #ffffff; /* Jasny tekst */
  border: 1px solid #444; /* Delikatny obrys */
  border-radius: 8px; /* Zaokrąglone rogi */
  padding: 10px 20px; /* Wygodny rozmiar przycisku */
  font-size: 16px; /* Czytelny rozmiar tekstu */
  font-weight: bold; /* Mocniejszy tekst */
  cursor: pointer; /* Wskaźnik rączki */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Subtelne animacje */
}

.back-button .btn:hover {
  background-color: #3a3a3a; /* Rozjaśniony kolor na hover */
  border-color: #666; /* Subtelny efekt na obrysie */
  transform: translateY(-3px); /* Lekki efekt unoszenia */
}

.back-button .btn:active {
  background-color: #1e1e1e; /* Przyciemnienie na kliknięcie */
  transform: translateY(1px); /* Wrażenie "wciśnięcia" */
}
