.container {
  display: flex;
  flex-direction: column;
  margin: 0;

  color: #ffffff;
  box-shadow: none;
}

.container h1,
.container h2,
.container p {
  margin: 0;
  padding: 0 0 10px;
  font-family: "Inter", sans-serif;
}

.container h1 {
  font-size: 28px;
  color: #ffcc00;
}

.container p {
  font-size: 16px;
  color: #cccccc;
}
::ng-deep {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1e1e;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 10px;
    border: 2px solid #333333;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
  }

  scrollbar-width: thin;
  scrollbar-color: #444444 #1e1e1e;
}
