<div *ngIf="loading" class="loading-message">Ładowanie...</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<div *ngIf="allBooks.length > 0" class="books-carousel">
  <h4 class="suggestion-text">Może ci się spodobać</h4>
  <div class="carousel-container">
    <button (click)="changeImage(-1)" class="carousel-arrow left-arrow">
      &#10094;
    </button>

    <div class="book-display">
      <div class="book-card">
        <div
          class="card-image"
          [routerLink]="['/bookDetails', allBooks[currentBookIndex].idKsiazka]"
        >
          <img
            *ngIf="allBooks[currentBookIndex]?.okladka"
            [src]="allBooks[currentBookIndex]?.okladka"
            [alt]="allBooks[currentBookIndex]?.tytul"
          />
        </div>
        <div class="card-title">{{ allBooks[currentBookIndex]?.tytul }}</div>
      </div>
    </div>

    <button (click)="changeImage(1)" class="carousel-arrow right-arrow">
      &#10095;
    </button>
  </div>
</div>

<div *ngIf="allBooks.length === 0" class="no-books">
  Brak książek do wyświetlenia.
</div>
