<div class="users-list">
  <div
    class="user-profile"
    *ngFor="let user of users$ | async"
    [routerLink]="['/profile', user.idUzytkownik]"
  >
    <section class="profile-header">
      <div class="profile-avatar">
        <img *ngIf="user.zdjecie" [src]="user.zdjecie" alt="User Avatar" />
      </div>
      <div class="profile-info">
        <h2>{{ user.imie }} {{ user.nazwisko }}</h2>
      </div>
    </section>
    <section class="profile-stats">
      <div class="stats-item">
        <h3>{{ user.iloscOcen }}</h3>
        <p>Przeczytane książki</p>
      </div>
      <div class="stats-item">
        <h3>{{ user.iloscRecenzji }}</h3>
        <p>Recenzje</p>
      </div>
    </section>
    <div class="stats-item">
      <h3>{{ user.ostaniaAktywnosc | date : "dd MMMM yyyy" }}</h3>
      <p>Ostatnia aktywność</p>
    </div>
  </div>
</div>
