.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.user-profile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;

    .profile-avatar img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 15px;
    }

    .profile-info {
      h2 {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /* Dodane, aby skrócić długie imiona */
        max-width: 180px; /* Maksymalna szerokość imienia i nazwiska */
      }
    }
  }

  .profile-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    text-align: center;

    .stats-item {
      flex: 1;
      padding: 0 10px;

      h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
      }

      p {
        font-size: 12px;
        color: #666;
      }
    }
  }

  .view-profile-btn {
    display: block;
    margin: 15px auto 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: #0056b3;
    }
  }
}
