<div class="users-list">
  <div
    class="user-profile"
    *ngFor="let user of users"
    [routerLink]="['/profile', user.idUzytkownik]"
  >
    <section class="profile-header">
      <div class="profile-avatar">
        <img *ngIf="user.zdjecie" [src]="user.zdjecie" alt="User Avatar" />
      </div>
      <div class="profile-info">
        <h2>{{ user.imie }} {{ user.nazwisko }}</h2>
      </div>
    </section>
    <section class="profile-stats">
      <div class="stats-item">
        <h3>{{ user.iloscOcenionychKsiazek }}</h3>
        <p>Ocenione książki</p>
      </div>
      <div class="stats-item">
        <h3>{{ user.iloscRecenzji }}</h3>
        <p>Recenzje</p>
      </div>
    </section>

    <button
      mat-icon-button
      *ngIf="user.status !== 'accepted'"
      (click)="sendFriendRequest(user.idUzytkownik)"
    >
      <mat-icon>{{
        user.status === "sent" ? "pending" : "person_add"
      }}</mat-icon>
    </button>

    <button mat-icon-button *ngIf="user.status === 'accepted'">
      <mat-icon>check_circle</mat-icon>
    </button>
  </div>
</div>
