<div class="admin-panel">
  <h2 class="title">Panel Administracyjny</h2>
  <div class="button-group">
    <button routerLink="/addAuthor" class="btn btn-primary">
      Dodaj Autora
    </button>
    <button routerLink="/addPublisher" class="btn btn-primary">
      Dodaj Wydawnictwo
    </button>
    <button routerLink="/adminAddingBooks" class="btn btn-primary">
      Dodaj Książkę
    </button>
    <button routerLink="/addTags" class="btn btn-primary">Dodaj Tagi</button>
    <button routerLink="/addTagsForBooks" class="btn btn-primary">
      Dodaj Tagi do Książki
    </button>
  </div>
</div>
